.piano {
    display: flex;
    justify-content: center;
    width: fit-content;
    box-shadow: var(--main-border-shadow);
}

.key {
    cursor: pointer;
    user-select: none;
    transition: background 0.1s;
}

.white {
    width: 60px;
    height: 200px;
    background: white;
    border: 3px solid var(--main-color);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    z-index: 1;
}

.black {
    width: 40px;
    height: 120px;
    background: #585858;
    box-shadow: 8px 5px 0px var(--main-color);
    color: white;
    z-index: 2;
    
    margin-left: -20px; 
    margin-right: -20px;
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 12px;
}

.white.active, .black.active { 
    background: var(--active-color);
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 0px var(--main-color);
}